body {
    width: 800px;
    margin: 20px auto;
    font-family: arial;
}

p {
    font-size: 16px;
}

blockquote, pre {
    margin: 0 0 0 0;
}

blockquote.source, blockquote.output {
    padding: 0.6em;
}

blockquote.source {
    font-family: monaco, courier;
    font-size: 14px;
    background: #eee;
}

pre code {
    padding: 0;
}

blockquote p {
    margin: 0;
}

blockquote.output {
    font-size: 14px;
    margin-bottom: 1em;
    background: #cfcfcf;
}