body
    margin: 20px auto

table
    width: 800px
    border-collapse: collapse

tr
    border: 0
    padding: 0
    margin: 0

td:first-child
    width: 600px
    border-right: 1px solid #bbb

td:last-child
    width: 400px
    background: #eee

td
    padding: 10px