body {
    width: 800px;
    margin: 20px auto;
    font-family: arial;
}

p {
    font-size: 16px;
}

blockquote, pre {
    margin: 0 0 1em 0;
}

blockquote p, code {
    font-family: monaco, courier;
    font-size: 14px;
}

code {
    color: #555;
}

blockquote p {
    margin: 0;
}

pre + blockquote {
    margin-top: -1em;
    padding: 0.5em;
    background: #cfcfcf;
}