{% for block in blocks %}
    <div class="block">
        <div class="prose">
        {% for chunk in block.prose %}
            {{ chunk.html }}
        {% endfor %}
        </div>
        <div class="code">
        {% for chunk in block.code %}
            <blockquote class="source">
                <pre><code>{{ chunk.text }}</code></pre>
            </blockquote>
            {% if chunk.output %}
            <blockquote class="output">
                <pre>{{ chunk.output }}</pre>
            </blockquote>
            {% endif %}
        {% endfor %}
        </div>
    </div>
{% endfor %}