<html>
    <head>
        <link rel="stylesheet" href="resources/vendor/highlight.js/styles/github.css">
        <link rel='stylesheet' href='resources/styles/literate.css' />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="resources/vendor/highlight.js/highlight.pack.js"></script>
        <script src="resources/scripts/literate.js"></script>
    </head>
    <body>
        <h1>{{ title }}</h1>
        <article>
            {% include 'content.html' %}
        </article>
    </body>
</html>